body {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 140px 100px auto auto;
  grid-template-areas:
    'txt'
    'menuBar'
    'mathContent'
    'menu';
}

#txt {
  grid-area: txt;
  font-size: 18pt;
  color: rgb(156, 220, 254);
}

#content {
  grid-area: content;
  padding: 6px;
}
#menu {
  grid-area: menu;
  padding: 6px;
}
#mathContent {
  grid-area: mathContent;
  padding: 6px;
}
#menuBar {
  grid-area: menuBar;
  padding: 6px;
  display: flex;
}

body {
  background-color: rgb(30, 30, 30);
  color: rgb(220, 184, 98);
  font-family: Verdana, Helvetica, sans-serif;
}

button {
  width: 70px;
  height: 70px;
  font-size: 20pt;
  line-height: 0.6em;
  margin: 5px;
  text-align: center;
  background-color: rgb(60, 60, 60);
  color: rgb(206, 145, 120);
}

button.ongoing {
  background-color: rgb(90, 90, 90);
}

button.display {
  width: 40px;
  height: 40px;
  font-size: 12pt;
}

.error {
  color: rgb(214, 80, 27);
}

div.selectedFunction {
  display: flex;
  align-items: center;
}

div.function {
  color: rgb(206, 145, 120);
  vertical-align: middle;
  height: 100%;
}

div.math {
  font-size: 80pt;
  user-select: none;
  color: rgb(220, 220, 170);
}

div.flex {
  display: flex;
  align-items: center;
  padding: 2px;
}

div.vertical {
  flex-direction: column;
}

div.fraction {
  border-bottom: 9px solid rgb(220, 220, 170);
  height: 0px;
  width: 100%;
}

div.highlight {
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

li.passive{
  color: gray;
}